* {
    margin: 0;
    padding: 0;
}

.container {
    border: 4px solid lightblue;
    padding: 4px;
    margin: 40px 20px;
}

.container .title {
    font-size: 2em;
}

.container .comment {
    background-color: antiquewhite;
}